{% extends 'base.html.twig' %}

{% block title %}Yatzy{% endblock %}

{% block content %}
<h1>{{ header }}</h1>

<p>{{ message }}</p>

<form method="post" action="{{ path('yatzy_process') }}">
    <input type="hidden" name="round" value="1">
    <input type="submit" name="submit" value="Start Game!">
</form>
{% endblock %}